.fixed-header{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

table {
    width:100%;
}

.table thead th {
  vertical-align: middle;
}

.table td, .table th {
  vertical-align: middle;
}

.fixed-header tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: 250px;
}

.fixed-header thead tr {
   display: block;
   width:100%;
}

.fixed-header th, .fixed-header td {
  padding: 9px;
  text-align: center;
  width: 13%;
}

tbody {
  font-size: 14px;
}
