<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vision</title>
    <link rel="stylesheet" href="../css/style.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!-- <link type="text/css" rel="stylesheet" href="materialize/css/materialize.css"  media="screen,projection"/> -->
    <link type="text/css" rel="stylesheet" href="../materialize/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../fontawesome-free/css/all.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../fontawesome-free/css/all.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script>window.$ = window.jQuery = require('../js/jquery.js');</script>
</head>
<body>
    <div class="container">
        <div class="title center">
          <h1>Vision</h1>
          <strong> Seek and You Shall Receive </strong>
        </div>
        <hr>
        <button type="button" id="back" class="btn waves-effect waves-light" onclick="confirmBack()"><i class="fas fa-arrow-left"></i> Back </button>
        <div class="center container" id="scanOsProgress" style="display:none;">
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
            <div>
                <strong> Scanning Operating System of host <i id="osHost"></i> ... </strong> <br>
                <em> This can take long time ... </em>
            </div>
        </div>
        <div class="contents center">
            <div id="progressBox">
                <div class="progress">
                    <div id="progressBar" class="indeterminate"></div>
                </div>
                <h5> Please wait while Vision scans the network. </h5>
                <small> The Wider The Network, The Longer It Takes To Scan. </small>
            </div>            
            <div id="result" style="display:none;">
                <div id="resultContainer" v-if="hostExists()">
                    <div class="row tab-bar">
                        <div class="col s12">
                            <div class="col s6"><button class="btn waves-light waves-effect" id="graphBtn" onclick="showGraph()">Graphical View</button></div>
                            <div class="col s6"><button class="btn waves-light waves-effect" id="tableBtn" onclick="showTable()">Tabular View</button></div>
                        </div>
                    </div>
                    <div id="table" style="display:none;">
                        <h5> Tabular View </h5>
                        <table class="responsive-table centered">
                            <thead>
                                <th>IP Address</th>
                                <th>MAC Address</th>
                                <th>Manufacturer</th>
                                <th>Hostname</th>
                                <th>Operating System</th>
                                <th>Open Ports</th>
                                <th>Scan</th>
                            </thead>
                            <tbody>
                                <tr v-for="(meta, ip) in result">
                                    <td>{{ ip }}</td>
                                    <td>{{ meta.MAC }}</td>
                                    <td>{{ meta.Vendor }}</td>
                                    <td>{{ meta.Hostname }}</td>
                                    <td :id="ip">{{ meta.OS }}</td>
                                    <td>
                                        <div v-for="ports in meta.Ports">
                                            {{ ports }}
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" :ip="ip" class="btn waves-light waves-effect btn-small btn-margin" onclick="scanPort(this)">Port</button>
                                        <button type="button" style="margin-left:5px;" class="btn waves-light os-btn waves-effect btn-small btn-margin" @click="scanOS(ip)">OS</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="graph">
                        <h5> Graphical View </h5>
                        <br> <br>
                        <canvas id="graphical" width="400" height="200"></canvas>
                        <small id="msg"> Try To Resize The Window If The Chart Does Not Update</small>
                    </div>
                    <br> <br>
                    <div class="row">
                        <div class="col" style="float:left;">
                            <small id="timeTaken"></small>
                        </div>
                        <div class="col" style="float:right;">
                            <button type="button" class="btn waves-effect waves-light" onclick="saveAsCsv()"> <i class="fas fa-file-download"></i> Save As .csv File </button>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <strong> <i class="fas fa-map-signs"></i> No Devices Found ... </strong>
                </div>
                <br>
                <div class="center">
                    <button type="button" class="btn waves-effect waves-light" onclick="rescan()"> <i class="fas fa-redo"></i> Scan Network Again </button>
                </div>
            </div>
            <br> <br>
            <div id="progressBackground"></div>
        </div>
      </div>

    <div id="portModal" class="modal">
        <div class="modal-content">
            <h4>Scan Ports</h4>
            <hr>
            <div id="scanPortFormDiv">
                <form id="scanPortForm">
                    <input type="hidden" id="hostIP">
                    <br>
                    <div class="input-field">
                        <label for="ports">Enter range of ports <small>Example: 80, 443</small></label>
                        <input type="text" id="ports" class="validate">
                    </div>
                    <br>
                    <div class="center">
                        <button type="submit" class="btn waves-effect waves-light">Scan</button>
                    </div>
                </form>
            </div>
            <div id="scanPortProgress" class="center" style="display:none;">
                <br>
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn btn-flat">Close</a>
        </div>
    </div>

    <!--JavaScript at end of body for optimized loading-->
    <!-- <script type="text/javascript" src="./materialize/js/materialize.js"></script> -->
    <script type="text/javascript" src="../materialize/js/materialize.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/visualize.js"></script>
    <script src="../js/engine.js"></script>
    <script>
        window.time = new Date()
        
        var vueObj = initializeScan(['default'])

        var scanning = true
        let swal = require("sweetalert")

        async function saveAsCsv() {
            let results = JSON.stringify(vueObj.getData())

            let reply = await save(results)

            if (JSON.parse(reply)) {
                swal({
                    title: "Scan Results Saved.",
                    text:"File saved on your desktop.",
                    icon: "success",
                })
            } else {
                swal({
                    text: "Saving Failed.",
                    icon: "error"
                })
            }
        }
        
        function showGraph() {
            $("#graph").show()
            $("#table").hide()
        }

        function showTable() {
            $("#graph").hide()
            $("#table").show()
        }

        function rescan() {
            swal({
                text:"Are You Sure You Want To Discard The Results?",
                icon:"warning",
                buttons:{
                    cancel:{
                        text:"No",
                        value:false,
                        visible:true,
                        closeModal:true
                    },
                    confirm:{
                        text:"Yes",
                        value:true,
                        visible:true,
                        closeModal:true
                    }
                },
                dangerMode:true
            }).then((value) => {
                if (value) {
                    location.reload()
                }
            });
        }

        function confirmBack() {
            if (scanning) {
                var alertMessage = "Are You Sure You Want To Abort The Scan?"
            } else {
                var alertMessage = "Are You Sure You Want To Discard The Results?"
            }

            swal({
                text:alertMessage,
                icon:"warning",
                buttons:{
                    cancel:{
                        text:"No",
                        value:false,
                        visible:true,
                        closeModal:true
                    },
                    confirm:{
                        text:"Yes",
                        value:true,
                        visible:true,
                        closeModal:true
                    }
                },
                dangerMode:true
            }).then((value) => {
                if (value) {
                    window.location.replace("../index.html")
                }
            });
        }
    </script>
</body>
</html>