<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vision</title>
    <link rel="stylesheet" href="./style.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!-- <link type="text/css" rel="stylesheet" href="materialize/css/materialize.css"  media="screen,projection"/> -->
    <link type="text/css" rel="stylesheet" href="./materialize/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="./fontawesome-free/css/all.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="./fontawesome-free/css/all.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->

    <style>
        #buttonGroup {
            margin-bottom:20px;
        }
    </style>
    
    <script>window.$ = window.jQuery = require('./js/jquery.js');</script>
</head>
<body>
    <div class="container">
        <div class="title center">
            <h1>Vision</h1>
            <strong> Seek and You Shall Receive </strong>
        </div>
        <hr>
        <button type="button" id="back" class="btn waves-effect waves-light" onclick="confirmBack()"><i class="fas fa-arrow-left"></i> Back </button>
        <div class="contents center">
            <div id="prompt">
                <div id="buttonGroup">
                    <button class="btn waves-effect waves-light" id="btnIpRange"> Scan IP Range </button>
                    <button class="btn waves-effect waves-light" id="btnDevice"> Scan Particular Device </button>
                </div>
                <br> <br>
                <div id="ipRange">
                    <div class="row">
                        <form id="ipRangeForm" class="col s12">
                            <strong class="center"> Enter the IP Address Range </strong>
                            <br> <br>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input type="text" placeholder="example: 192.168.1.1" id="ipFirst" class="validate">
                                    <label for="ipFirst">First IP Address</label>
                                </div>
                                <div class="input-field col s6">
                                    <input type="text" placeholder="example: 192.168.1.255" id="ipLast" class="validate">
                                    <label for="ipLast">Last IP Address</label>
                                </div>
                            </div>
                            <button type="submit" class="btn waves-effect waves-light"> Scan! </button>
                        </form>
                    </div>
                </div>
                <script> $("#ipRange").hide()</script>
                <div id="particularDevice">
                    <form id="particularDeviceForm">
                        <strong class="center"> Enter the IP Address of the device </strong> 
                        <br>
                        <input type="text" id="deviceIp" placeholder="example: 192.168.1.1" class="validate">
                        <br> <br>
                        <strong class="center"> Enter the Port Range (Optional)</strong>
                        <br>
                        <small> Port Numbers define services running on a device. </small>
                        <br> <br>
                        <div class="row">
                            <div class="input-field col s6">
                                <input type="number" placeholder="Port Range" id="firstPort" class="validate">
                                <label for="firstPort">First Port of the range</label>
                            </div>
                            <div class="input-field col s6">
                                <input type="number" placeholder="Port Range" id="lastPort" class="validate">
                                <label for="lastPort">Last Port of the range (Optional)</label>
                            </div>
                        </div>
                        <button type="submit" class="btn waves-effect waves-light"> Scan! </button>
                    </form>
                </div>
                <script>$("#particularDevice").hide()</script>
            </div>
            <div id="resultBox">
                <div id="progressBox">
                    <div class="progress">
                        <div id="progressBar" class="determinate"></div>
                    </div>
                    <h5> Please wait while Vision scans the network </h5>
                </div>
    
                <div id="result" style="display:none;">
                    <div id="resultContainer" v-if="hostExists()">
                        <div id="rangeScan">
                            <div class="row tab-bar">
                                <div class="col s12">
                                    <div class="col s6"><button class="btn waves-light waves-effect" id="graphBtn" onclick="showGraph()">Graphical View</button></div>
                                    <div class="col s6"><button class="btn waves-light waves-effect" id="tableBtn" onclick="showTable()">Tabular View</button></div>
                                </div>
                            </div>
                            <div id="table" style="display:none;">
                                <h5> Tabular View </h5>
                                <table class="responsive-table">
                                    <thead>
                                        <th>IP Address</th>
                                        <th>MAC Address</th>
                                        <th>Manufacturer</th>
                                        <th>Hostname</th>
                                        <th>Operating System</th>
                                        <th>Open Ports</th>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(meta, ip) in result">
                                            <td>{{ ip }}</td>
                                            <td>{{ meta.MAC }}</td>
                                            <td>{{ meta.Vendor }}</td>
                                            <td>{{ meta.Hostname }}</td>
                                            <td>{{ meta.OS }}</td>
                                            <td>
                                                <div v-for="ports in meta.Ports">
                                                    {{ ports }}
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="graph">
                                <h5> Graphical View </h5>
                                <br> <br>
                                <canvas id="graphical" width="400" height="200"></canvas>
                                <small id="msg"> Try To Resize The Window If The Chart Does Not Update</small>
                            </div>
                        </div>
                        <div id="particularScan">
                            <div v-for="(meta, ip) in result">
                                <strong> Scan on "{{ip}}" completed </strong>
                                <br>
                                <table class="responsive-table">
                                    <thead>
                                        <th>IP Address</th>
                                        <th>MAC Address</th>
                                        <th>Manufacturer</th>
                                        <th>Hostname</th>
                                        <th>Operating System</th>
                                        <th>Open Ports</th>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(meta, ip) in result">
                                            <td>{{ ip }}</td>
                                            <td>{{ meta.MAC }}</td>
                                            <td>{{ meta.Vendor }}</td>
                                            <td>{{ meta.Hostname }}</td>
                                            <td>{{ meta.OS }}</td>
                                            <td>
                                                <div v-for="ports in meta.Ports">
                                                    {{ ports }}
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br> <br>
                        <div class="row">
                            <div class="col" style="float:left;">
                                <small id="timeTaken"></small>
                            </div>
                            <div class="col" style="float:right;">
                                <button type="button" class="btn waves-effect waves-light" onclick="saveAsCsv()"> <i class="fas fa-file-download"></i> Save As .csv File </button>
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <strong> <i class="fas fa-map-signs"></i> No Devices Found ... </strong> <br>
                    </div>
                    <br>
                    <div class="center">
                        <button type="button" class="btn waves-effect waves-light" onclick="reset()"> <i class="fas fa-redo"></i> Scan Network Again </button>
                    </div>
                </div>
                <br> <br>
                <div id="progressBackground"></div>
            </div>
            <script>$("#resultBox").hide()</script>
        </div>
    </div>
    
    <!--JavaScript at end of body for optimized loading-->
    <!-- <script type="text/javascript" src="materialize/js/materialize.js"></script> -->
    <script type="text/javascript" src="./materialize/js/materialize.min.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./engine.js"></script>
    <script src="./visualize.js"></script>
    <script>
        //$(document).ready(function(){
        //})

        $("#btnIpRange").click(function(event){
            event.preventDefault()

            $("#ipRange").show()
            $("#particularDevice").hide()
        })

        $("#btnDevice").click(function(event){
            event.preventDefault()

            $("#ipRange").hide()
            $("#particularDevice").show()
        })

        function showGraph() {
            $("#graph").show()
            $("#table").hide()
        }

        function showTable() {
            $("#graph").hide()
            $("#table").show()
        }

        function reset() {
            swal({
                text:"Are You Sure You Want To Discard The Results?",
                icon:"warning",
                buttons:{
                    cancel:{
                        text:"No",
                        value:false,
                        visible:true,
                        closeModal:true
                    },
                    confirm:{
                        text:"Yes",
                        value:true,
                        visible:true,
                        closeModal:true
                    }
                },
                dangerMode:true
            }).then((value) => {
                if (value) {
                    $("#prompt").show()
                    $("#resultBox").hide()
                    scanning = true
                }
            });
        }
    </script>
     <script>
        var swal = require("sweetalert")

        $("#ipRangeForm").submit((event) => {
            event.preventDefault()

            var firstIP = $("#ipFirst").val()
            var lastIP = $("#ipLast").val()

            if (firstIP && lastIP) {
                if (!(firstIP.indexOf(".") === -1 || lastIP.indexOf(".") === -1)) {
                    let first = firstIP.split(".")
                    let last = lastIP.split(".")

                    if ((first[2] !== last[2]) || (first[3] > last[3]) || (firstIP == lastIP)) {
                        swal({
                            text:"Invalid IP Range.",
                            icon:"error"
                        })
                    } else {
                        let args = ['range', firstIP, lastIP]
    
                        $("#prompt").hide()
                        $("#resultBox").show()
                        window.time = new Date()
                        vueObj = initializeScan(args)
                        var scanning = true
                    }
                } else {
                    swal({
                        text:"Invalid IP Address.",
                        icon:"error"
                    })
                }
            } else {
                swal({
                    icon:"warning",
                    text:"Please specify both IP addresses."
                })
            }
        })

        $("#particularDeviceForm").submit((event) => {
            event.preventDefault()
            
            let ip = $("#deviceIp").val()

            if (ip) {
                let args = ['particular', ip]
                let firstPort = $("#firstPort").val()
                let lastPort = $("#lastPort").val()
                
                if (firstPort && lastPort) {
                    if (parseInt(firstPort) > parseInt(lastPort)) {
                        swal({
                            text:"Invalid port range!",
                            icon:"error"
                        })

                        return false   
                    } else {
                        args.push('port')
                        args.push([firstPort, lastPort])
                    }
                } else {
                    if (!(firstPort) && lastPort) {
                        swal({
                            text:"Invalid port range!",
                            icon:"error"
                        })

                        return false
                    } else if (firstPort) {
                        args.push('port')
                        args.push([firstPort])
                    } 
                }

                $("#prompt").hide()
                $("#resultBox").show()
                window.time = new Date()
                vueObj = initializeScan(args)
                var scanning = true
            } else {
                swal({
                    text:"Please specify IP Address of the device.",
                    icon:"warning"
                })
            }
        })

        async function saveAsCsv() {
            let results = JSON.stringify(vueObj.getData())

            let reply = await save(results)
            
            if (JSON.parse(reply)) {
                swal({
                    text: "Scan Results Saved.",
                    icon: "success",
                    buttons:false,
                    timer:1500
                })
            } else {
                swal({
                    text: "Saving Failed.",
                    icon: "error"
                })
            }
        }
        
        function confirmBack() {
            try {
                if (scanning) {
                    var alertMessage = "Are You Sure You Want To Abort The Scan?"
                } else {
                    var alertMessage = "Are You Sure You Want To Discard The Results?"
                }
    
                swal({
                    text:alertMessage,
                    icon:"warning",
                    buttons:{
                        cancel:{
                            text:"No",
                            value:false,
                            visible:true,
                            closeModal:true
                        },
                        confirm:{
                            text:"Yes",
                            value:true,
                            visible:true,
                            closeModal:true
                        }
                    },
                    dangerMode:true
                }).then((value) => {
                    if (value) {
                        window.location.replace("./index.html")
                    }
                })
            } catch {
                window.location.replace("./index.html")
            }
        }
    </script>
</body>
</html>